.Mytasks{
    position:absolute;
    top:35px;
    left:80px;
    color:blue;
}

.Action{
    display:flex;
}
.O{
    
    border-style:solid;
    width:20px;
    height:20px;
}


.Open{
    
    border-style:solid;
    width:50px;

}
table,th,td{
    border:2px solid black;}
td{
    width:150px;
    height:70px;
}
.Firstcolumn{
    width:40px;

}
.Lastrow{
    height:270px;

}
.Create{
    box-sizing: border-box;
    border-style:solid;
    border-color:blue;
    width:80px;
    color:blue;

}