.tableTasks{
    position:absolute;
    top:180px;
    left:80px;
}

table,th,td{
    border:2px solid black;}
td{
    width:150px;
    height:70px;
}
.firstcolumn{
    width:40px;

}
.lastrow{
    height:185px;
}