.taskform{
    box-sizing: border-box;
    border-style:solid;
    height:92%;
    width:48%;
    position:absolute;
    top:40px;
    left:770px;
    color:red;
    font-size:20px;
}
input{
    box-sizing: border-box;
    border-style:solid;
    border-width:3px;
    border-color:black;
}
.task_form__add_task_btn{
    position:absolute;
    right:0;
    top:300px;
    width:80px;
    height:80px;
    color:blue;
    background-color:aqua;
}